:root {
	--background: #eff1f5;
	--background-trans: #eff1f580;
	--background-invis: #eff1f500;
	--popup: #e6e9ef;
	--popup-trans: #dce0e880;
	--border-trans: #dce0e880;
	--text: #4c4f69;
	--label: #6c6f85;
	--label-alt: #dce0e8;
	--c1: #4c4f6980;
	--c2: #5c5f77C0;
	--c3: #6c6f85;

	--rosewater: #dc8a78;
	--rosewater-trans: #dc8a7830;
	--green: #40a02b;
	--green-trans: #40a02b40;

	--blue: #7287fd;
	--blue-trans: #7287fd80;
	--red: #dd7878;
	--red-trans: #dd787880;
	--grey: #acb0be;
	--grey-trans: #acb0be80;

	--highlight: var(--rosewater);
	--highlight-trans: var(--rosewater-trans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1e1e2e;
		--background-trans: #1e1e2e80;
		--background-invis: #1e1e2e00;
		--popup: #181825;
		--popup-trans: #11111b80;
		--border-trans: #11111b80;
		--text: #cdd6f4;
		--label: #a6adc8;
		--label-alt: #585b70;
		--c1: #cdd6f480;
		--c2: #bac2deC0;
		--c3: #a6adc8;

		--rosewater: #f5e0dc;
		--rosewater-trans: #f5e0dc30;
		--green: #a6e3a1;
		--green-trans: #a6e3a140;

		--blue: #89b4fa;
		--blue-trans: #89b4fa80;
		--red: #f38ba8;
		--red-trans: #f38ba880;
		--grey: #585b70;
		--grey-trans: #585b7080;
	}
}

html {
	height: 100dvh;
}

html::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

html::-webkit-scrollbar-track {
	background-color: var(--popup);
}

html::-webkit-scrollbar-thumb {
	max-width: 0.25rem;
	background: var(--highlight);
	border-radius: 1rem;
}

body {
	height: calc(100vh - 10rem);
	min-height: fit-content;
	margin: 0;
	padding-top: 10rem;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: stretch;

	font-family: 'Verdana', sans-serif;
	color: var(--text);
	background-color: var(--background);
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

a {
	color: var(--highlight);
}

a:visited {
	color: var(--highlight);
}

.panel {
	h1 {
		text-align: center;
	}

	box-sizing: border-box;
	z-index: 1;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	padding: 0 5%;

	background: linear-gradient(to bottom, var(--background) 0%, var(--background-trans) 60%, var(--background-invis) 100%);

	&:before {
		z-index: -1;
		content: '';
		position: absolute;
		inset: -1px;
		backdrop-filter: blur(20px);
		mask: linear-gradient(to bottom, black 80%, transparent 100%);
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

#secondary-panel {
	display: none;
}

.bar {
	width: 100%;
	max-width: 50rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#top-bar {
	margin-bottom: 1rem;
}

#title-box {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#piece-marker {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
}

#piece-marker > svg {
	height: auto;
	width: 3em;
	margin-right: 0.5rem;
}

#title-text {
	width: 100%;
	text-align: left;
}

.button-panel {
	height: 4rem;
	width: 100%;
	max-width: 20rem;

	overflow: hidden;

	display: flex;
	flex-direction: row;
	justify-content: end;
	align-content: center;
	align-items: center;
}

button {
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;

	color: var(--text);
	background-color: var(--popup-trans);
	backdrop-filter: blur(10px);
	border: var(--border-trans) 2px solid;
	cursor: pointer;

	width: 100%;
	height: 100%;

	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

	&.hidden {
		display: none;
	}

	&:hover {
		color: var(--background);
		background-color: var(--rosewater);
		transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
	}
}

button svg {
	display: block;
	width: 100%;
	min-width: 1rem;
}

button.button-left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	&:not(.button-right) {
		border-right: none;
	}
}

button.button-right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#start {
	text-wrap: nowrap;

	&.enabled:hover {
		background-color: var(--highlight);
		color: var(--background);
	}
}

#leave {
	padding: 0;
	width: auto;

	height: 100%;
	aspect-ratio: 1;

	svg {
		margin: auto auto auto auto;
		width: 1rem;
		height: 1rem;
	}
}

#leave:hover {
	background-color: var(--red);

	svg path {
		stroke: var(--background);
	}
}

#status-bar {
	justify-content: space-around;
	background-color: var(--popup-trans);
	border: var(--border-trans) 2px solid;
	box-sizing: border-box;
	box-shadow: 0 0.5rem 2rem 0.1rem #00000040;

	backdrop-filter: blur(10px);

	border-radius: 20px;
	height: 4rem;
	padding: 4px 0;
}

.status-block {
	width: 100%;
	margin: 4px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	font-family: "Roboto Mono", monospace;
	border-radius: 14px;

	& p {
		margin: 0;
		text-align: center;

		&.status-label {
			color: var(--label);
		}
	}
}

button.status-block {
	border-color: var(--highlight);

	&:hover {
		border-color: var(--border-trans);

		& p.status-label {
			color: var(--label-alt) !important;
		}
	}
}

#how-to-play {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 40rem;
	padding: 0 1rem 25vh;
}

#how-to-play h1 {
	margin-top: 1em;
}

#how-to-play p {
	text-align: justify;
	line-height: 1.5em;
}

#how-to-play picture {
	display: flex;
	justify-content: center;
}

#how-to-play img {
	width: 20rem;
	max-width: 90%
}

#board {
	width: 100%;
	height: 100%;

	margin: auto;
	padding: 0.5rem;

	box-sizing: border-box;
	border-style: none;
}

#board.grid {
	width: auto;
	max-height: 98vmin;
	aspect-ratio: 1 / 1;
}

#board:not(.grid) {
	width: auto;
	max-height: 98vmin;
	aspect-ratio: 1 / 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-height: 608px) and (max-aspect-ratio: 9/6) {
	#status-bar:not(.active) {
		display: none;
	}

	body {
		height: calc(100vh - 5rem);
		padding-top: 5rem;
	}
}

@media (min-aspect-ratio: 9/6) {

	body {
		flex-direction: row;
		padding: 0;
		height: 100vh;
	}

	#board:not(.grid) {
		aspect-ratio: revert !Important;
		min-height: fit-content !important;
	}

	.panel {
		position: sticky;
		top: 0;
		padding: 1rem;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		max-width: calc(50vw - 50vmin);
		height: 100%;

		&:before {
			display: none;
		}
	}

	#status-bar {
		width: 100%;
		padding: 0 4px;
		height: fit-content;
		min-width: fit-content;
		flex-direction: column;
	}

	#top-bar {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 1rem;
	}

	.button-panel {
		max-width: 100%;
	}

	#secondary-panel {
		display: block;
	}

	.button-panel {
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		height: 3rem;
	}

	#start {
		width: 100%;
	}
}

.grid {
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	width: 33.3%;
	height: 33.3%;
	padding: 1.5%;

	border-style: solid;

	.top {
		border-top: none;
	}

	.bottom {
		border-bottom: none;
	}

	.left {
		border-left: none;
	}

	.right {
		border-right: none;
	}

	transition: background-color 0.25s ease-out;

	.active:not(.played) {
		background-color: var(--green-trans) !important;
		--highlight: var(--green);
		--highlight-trans: var(--green-trans);
	}
}

.grid.played {
	--highlight: none;
	--highlilght-trans: none;
}

.grid svg {
	width: 100%;
	height: 100%;
}

/*dim all pieces on win*/
.grid.played .grid.played svg {
	opacity: 50%;
}

/*... except in a 1 layer board, then don't tim pieces*/
#board.grid.played > .grid.played > svg {
	opacity: 100%;
}

.grid:not(#board, .played):hover {
	background-color: var(--highlight-trans);
}

.cell:not(.played):hover {
	background-color: var(--highlight) !important;
}

.overlay {
	opacity: 80%;
	position: relative;
	width: 100%;
	margin-bottom: -100%;
	height: 100%;
}

.grid.played .grid .overlay {
	opacity: 100%;
}

#toast {
	opacity: 0;
	transition: opacity 1s, transform 1s;
	text-align: center;

	background-color: var(--popup-trans);
	box-shadow: 0.5rem 0.5rem 3rem 0.1rem #00000040;
	border-radius: 20px;
	padding: 1rem;
	border: var(--border-trans) 2px solid;


	backdrop-filter: blur(10px);

	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);

	@media (orientation: landscape) {
		left: 0.5rem;
		transform: none;
	}

	pointer-events: none;
}

#toast.active {
	opacity: 1;
}

#toast:not(.active) {
	opacity: 0;
}