:root {
	--background: #eff1f5;
	--background-trans: #eff1f580;
	--background-invis: #eff1f500;
	--popup: #e6e9ef;
	--popup-trans: #dce0e880;
	--border-trans: #dce0e880;
	--text: #4c4f69;
	--text-trans: #4c4f6980;
	--label: #6c6f85;
	--label-alt: #dce0e8;
	--c1: #4c4f6980;
	--c2: #5c5f77C0;
	--c3: #6c6f85;
	--shadow: #00000020;

	--rosewater: #dc8a78;
	--rosewater-trans: #dc8a7830;
	--green: #40a02b;
	--green-trans: #40a02b40;

	--blue: #7287fd;
	--blue-trans: #7287fd80;
	--red: #dd7878;
	--red-trans: #dd787880;
	--grey: #acb0be;
	--grey-trans: #acb0be80;

	--highlight: var(--rosewater);
	--highlight-trans: var(--rosewater-trans);

	--header-clearance: 10rem;
	--toast-clearance: 4.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1e1e2e;
		--background-trans: #1e1e2e80;
		--background-invis: #1e1e2e00;
		--popup: #181825;
		--popup-trans: #11111b80;
		--border-trans: #11111b80;
		--text: #cdd6f4;
		--text-trans: #cdd6f480;
		--label: #a6adc8;
		--label-alt: #585b70;
		--c1: #cdd6f480;
		--c2: #bac2deC0;
		--c3: #a6adc8;
		--shadow: #00000040;

		--rosewater: #f5e0dc;
		--rosewater-trans: #f5e0dc30;
		--green: #a6e3a1;
		--green-trans: #a6e3a140;

		--blue: #89b4fa;
		--blue-trans: #89b4fa80;
		--red: #f38ba8;
		--red-trans: #f38ba880;
		--grey: #585b70;
		--grey-trans: #585b7080;
	}
}

html {
	height: 100dvh;
	overflow: clip;

	*::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}

	*::-webkit-scrollbar-track {
		background-color: var(--popup);
	}

	*::-webkit-scrollbar-thumb {
		max-width: 0.25rem;
		background: var(--highlight);
		border-radius: 1rem;
	}
}

body {
	margin: 0;
	height: calc(100dvh - var(--header-clearance));
	padding-top: var(--header-clearance);
	min-height: fit-content;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: stretch;

	overflow-y: scroll;

	&:has(#board) {
		overflow: clip;
	}

	color: var(--text);
	background-color: var(--background);
	font-family: 'Verdana', sans-serif;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

a {
	color: var(--highlight);

	&:visited {
		color: var(--highlight);
	}
}

/* * * * * * */
/* INTERFACE */
/* * * * * * */

.panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 0 5%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;

	margin-right: calc(0.5rem + 1px);

	body:has(#board) & {
		margin-right: 0;
	}

	background: linear-gradient(to bottom, var(--background) 0%, var(--background-trans) 60%, var(--background-invis) 100%);

	&:before {
		z-index: -1;
		content: '';
		position: absolute;
		inset: -1px;
		backdrop-filter: blur(20px);
		mask: linear-gradient(to bottom, black 80%, transparent 100%);
	}
}

#secondary-panel {
	display: none;
}

.bar {
	width: 100%;
	max-width: 50rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#top-bar {
	margin-bottom: 1rem;
}

#title-box {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	width: 100%;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#title-box:hover {
	color: var(--label);
}

#piece-marker {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
}

#piece-marker > svg {
	height: auto;
	width: 3em;
	margin-right: 0.5rem;
}

#title-text {
	width: 100%;
	text-align: left;
}

.button-panel {
	touch-action: pan-x pan-y;

	height: 4rem;
	width: 100%;
	max-width: 20rem;

	display: flex;
	flex-direction: row;
	justify-content: end;
	align-content: center;
	align-items: center;
}

input {
	font-family: "Roboto Mono", monospace;
	font-size: 1rem;
	padding: 1rem;

	box-sizing: border-box;

	color: var(--text);
	background-color: var(--popup-trans);
	backdrop-filter: blur(10px);
	border: var(--border-trans) 2px solid;
	cursor: pointer;

	width: 100%;
	height: 100%;

	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

	&:hover {
		border: solid 2px var(--rosewater-trans) !important;
	}
}

button {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	svg {
		path {
			transition: stroke 0s ease-in-out;
		}

		display: block;
		min-width: 1rem;

		margin: auto auto auto auto;
		width: 1rem;
		height: 1rem;
	}

	font-family: 'Nunito', sans-serif;
	font-size: 1rem;

	color: var(--text);
	background-color: var(--popup-trans);
	backdrop-filter: blur(10px);
	border: var(--border-trans) 2px solid;
	cursor: pointer;

	width: 100%;
	height: 100%;

	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

	&.hidden {
		display: none;
	}

	&:hover {
		svg path {
			stroke: var(--background);
		}

		color: var(--background);
		background-color: var(--rosewater);
		transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
	}
}

button.square {
	padding: 0;
	width: auto;

	height: 100%;
	aspect-ratio: 1;
}

.button-panel .left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.button-panel *:not(.right) {
	border-right: none;
	padding-right: 2px;
}

.button-panel .right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

input:focus, button:focus {
	outline: none;
	border: 2px solid var(--highlight) !important;

	&:not(.right) {
		padding-right: 0;
		border-right: 2px solid var(--highlight);
	}
}

#start {
	text-wrap: nowrap;

	&.enabled:hover {
		background-color: var(--highlight);
		color: var(--background);
	}
}

#leave:hover {
	background-color: var(--red);

	svg path {
		stroke: var(--background);
	}
}

#status-bar {
	justify-content: space-around;
	background-color: var(--popup-trans);
	border: var(--border-trans) 2px solid;
	box-sizing: border-box;
	box-shadow: 0 0.5rem 2rem 0.1rem var(--shadow);

	backdrop-filter: blur(10px);

	border-radius: 20px;
	height: 4rem;
	padding: 4px 0;
}

.status-block {
	width: 100%;
	margin: 4px;
	padding: 0;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	font-family: "Roboto Mono", monospace;
	border-radius: 14px;

	& p {
		margin: 0;
		text-align: center;

		&.status-label {
			color: var(--label);
		}
	}
}

button.status-block {
	border-color: var(--highlight-trans);
	font-size: 0.8rem;

	&:hover {
		border-color: var(--border-trans);

		& p.status-label {
			color: var(--label-alt) !important;
		}
	}
}

#optional-tools {
	display: none;
}

/* * * * */
/* BOARD */
/* * * * */

main {
	&:has(> #board) {
		overflow: visible !important;
	}

	width: 100%;
	height: 100%;
	margin: 0;
padding-bottom: calc(var(--toast-clearance) + env(safe-area-inset-bottom)) !important;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#board {
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	margin: auto;
	padding: 0.5rem;

	box-sizing: border-box;
	border-style: none;

	width: auto;
	max-height: 98vmin;
	aspect-ratio: 1 / 1;
}

/* * * * * **/
/* TUTORIAL */
/** * * * * */

.text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 40rem;
	padding: 0 1rem 25vh;
}

.text-content h1 {
	margin-top: 1em;
}

.text-content p {
	text-align: justify;
	line-height: 1.5em;
}

.text-content picture {
	display: flex;
	justify-content: center;
}

.text-content img {
	width: 20rem;
	max-width: 90%
}

.text-content video {
	width: 20rem;
	max-width: 90%
}

#tutorial-dialog {
	width: 50em;
	height: 50em;
	max-width: 90vmin;
	max-height: 90vmin;
	padding: 0;

	overflow-y: clip;
	position: relative;

	border-radius: 2em;
	/*border: 2px solid var(--border-trans);*/
	background: var(--background);
	user-select: none;
	transition: display 1s;
}

#brief-tutorial {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding: 0;

	scroll-snap-type: y mandatory;
}

#brief-tutorial .slide {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	position: relative;
}

#brief-tutorial .slide img {
	width: 100%;
	height: auto;
	object-fit: contain;
	user-select: none;
}

#brief-tutorial .slide .button-panel {
	width: 80%;
	height: 10%;
	margin: -15% auto 0;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

/* * * * */
/* BOARD */
/* * * * */

/*align pieces in cells*/
.grid svg {
	width: 100%;
	height: 100%;
}

/*prevent already won boards from looking playable*/
.grid.played {
	--highlight: none;
	--highlilght-trans: none;
}

/*highlight grids when hovering them, unless it's the base board or already played*/
.grid:not(#board, .played):hover {
	background-color: var(--highlight-trans);
}

/*highlight cells super dark on hover*/
.cell:not(.played):hover {
	background-color: var(--highlight) !important;
}

/*dim all pieces on win*/
.grid.played .grid.played svg {
	opacity: 50%;
}

/*... except in a 1 layer board, then don't dim them*/
#board.grid.played > .grid.played > svg {
	opacity: 100%;
}

/*winner overlay*/
.overlay {
	opacity: 80%;
	position: relative;
	width: 100%;
	margin-bottom: -100%;
	height: 100%;
}

/*make overlays bolder on win*/
.grid.played .grid .overlay {
	opacity: 100%;
}

/* * * * */
/* TOAST */
/* * * * */

#toast {
	opacity: 0;
	transition: opacity 1s, transform 1s;
	text-align: center;
	text-wrap: nowrap;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-color: var(--popup-trans);
	box-shadow: 0.5rem 0.5rem 3rem 0.1rem var(--shadow);
	border-radius: 20px;
	padding: 1rem;
	border: var(--border-trans) 2px solid;

	backdrop-filter: blur(10px);

	z-index: 100;
	position: fixed;
	bottom: calc(1rem + env(safe-area-inset-bottom));
	left: 50%;
	transform: translateX(-50%);

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#toast-icon:has(> svg) {
	height: 1.5rem;
}

#toast-icon > svg {
	height: 100%;
	width: auto;
	margin: auto 0.5rem auto auto;
}

#toast.active {
	opacity: 1;
}

#toast:not(.active) {
	opacity: 0;
}

/* * * * * * * * **/
/* RESPONSIVENESS */
/** * * * * * * * */

/*Move toast to the edge*/
@media (orientation: landscape) {
	:root {
		--toast-clearance: 0rem;
	}
	#toast {
		left: revert;
		right: 1rem;
		transform: none;
	}
}

/*Mobile, too short for stats and toast*/
@media (max-height: 640px) and (max-aspect-ratio: 9/6) {
	:root {
		--header-clearance: 6rem;
		--toast-clearance: 0rem;
	}

	#status-bar:not(.active) {
		display: none;
	}
}

/*Mobile, too thin for title text*/
@media (max-width: 352px) and (max-aspect-ratio: 9/6) {
	#title-box {
		width: fit-content;
	}

	#title-text {
		display: none;
	}

	. {
		width: 100%;
	}
}

/*Desktop*/
@media (min-aspect-ratio: 9/6) {
	:root {
		--header-clearance: 0;
	}

	body {
		height: 100% !important;
		flex-direction: row;
		padding: 0;
	}

	.panel {
		box-shadow: 0 0.5rem 2rem 0.1rem var(--shadow);
		border-right: 2px solid var(--border-trans);
		background: linear-gradient(to bottom, var(--background) -50%, var(--background-trans) 100%);
		backdrop-filter: blur(5px);
		margin-right: 0;

		width: 25%;
		max-width: calc(50vw - 50vmin);
		height: 100%;

		box-sizing: border-box;

		position: sticky;
		padding: 1rem;
		top: 0;

		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;


		&:before {
			display: none;
		}
	}

	#secondary-panel {
		display: block;
		opacity: 0;

		&:has(> #how-to-play) {
			overflow-y: scroll;
		}
	}

	#top-bar {
		width: 100%;
		max-width: 30rem;
		padding: 0;
		margin-bottom: 1rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#status-bar {
		box-shadow: none;
		width: 100%;
		min-width: fit-content;
		max-width: 30rem;
		height: fit-content;
		padding: 0 4px;
		flex-direction: column;

		#room, #made-by {
			order: -1;
		}
	}

	button.status-block p {
		font-size: 1rem;
	}

	#start {
		width: 100%;
	}

	#optional-tools {
		display: block;
		margin-top: auto;
	}

	#board:not(.grid) {;
		aspect-ratio: revert;
		min-height: fit-content;
	}
}

/*Desktop, too thin for the right panel*/
@media (min-aspect-ratio: 9/6) and (max-width: 1120px) {
	body {
		flex-direction: row;
		justify-content: space-between;
	}

	.panel {
		width: 100%;
		max-width: 30vw;
	}

	#secondary-panel {
		display: none;
	}

	#board {
		width: auto;
		aspect-ratio: 1;
	}
}

@media (min-aspect-ratio: 9/6) and (max-height: 500px) {
	#optional-tools {
		display: none;
	}
}

.grid {
	width: 33.3%;
	height: 33.3%;
	padding: 1.5%;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	border-style: solid;

	border-top: none;
	border-left: none;

	.bottom {
		border-bottom: none;
	}

	.right {
		border-right: none;
	}

	transition: background-color 0.25s ease-out;

	.active:not(.played) {
		cursor: pointer !important;
	}

	.active:not(.played) {
		background-color: var(--green-trans) !important;
		--highlight: var(--green);
		--highlight-trans: var(--green-trans);
	}
}