:root {
    --background: #eff1f5;
    --text: #4c4f69;
    --c1: #4c4f6980;
    --c2: #5c5f77C0;
    --c3: #6c6f85;
    --rosewater: #dc8a78;
    --rosewater-trans: #dc8a7830;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1e2e;
        --text: #cdd6f4;
        --c1: #cdd6f480;
        --c2: #bac2deC0;
        --c3: #a6adc8;
        --rosewater: #f5e0dc;
        --rosewater-trans: #f5e0dc30;
    }
}

body {
    color: var(--text);
    background-color: var(--background);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    height: 100vh;

    overflow: hidden;
}

#board {
    margin: auto;
    width: 98vmin;
    height: 98vmin;
    aspect-ratio: 1 / 1;

    border-style: none;
}

.grid {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    width: 33.3%;
    height: 33.3%;
    padding: 1.5%;

    border-style: solid;

    transition: background-color 0.25s ease-out;
}

.grid:not(#board):hover{
    background-color: var(--rosewater-trans);
}

.cell:hover {
    background-color: var(--rosewater) !important;
}
